<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Test</li>
    <li class="active"><a href="#">New Question</a></li>
    <li><a href="#">New Test</a></li>
    <li class="nav-header">Users Mange</li>
    <li><%= link_to "User List", users_path %></li>
  </ul>
</div>
